/* bitter-regular - latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: local('Bitter Regular'), local('Bitter-Regular'),
    url('/fonts/bitter-v15-latin-regular.woff2') format('woff2'),
    url('/fonts/bitter-v15-latin-regular.woff') format('woff');
}

/* bitter-italic - latin */
@font-face {
  font-family: 'Bitter';
  font-style: italic;
  font-weight: 400;
  src: local('Bitter Italic'), local('Bitter-Italic'),
    url('/fonts/bitter-v15-latin-italic.woff2') format('woff2'),
    url('/fonts/bitter-v15-latin-italic.woff') format('woff');
}

/* bitter-700 - latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 700;
  src: local('Bitter Bold'), local('Bitter-Bold'),
    url('/fonts/bitter-v15-latin-700.woff2') format('woff2'),
    url('/fonts/bitter-v15-latin-700.woff') format('woff');
}

html,
body {
  @apply bg-gray-200
         font-serif
         box-border
         antialiased;

  font-size: 12px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a:not(.btn):not(.tag) {
  @apply text-blue-500;

  &:hover {
    @apply text-blue-600
           underline;
  }

  &:active {
    @apply text-blue-700;
  }

  &:visited {
    @apply text-purple-500;

    &:hover {
      @apply text-purple-600;
    }

    &:active {
      @apply text-purple-700;
    }
  }
}

h1 {
  @apply text-7xl
         font-light
         text-blue-700
         tracking-tighter
         leading-none
         pb-4;
}

address {
  @apply not-italic pb-4;
}

@media screen and (max-width: 8.5in) {
  html,
  body {
    @apply bg-transparent;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    @apply text-6xl;
  }
}

@page {
  size: letter portrait;
  margin: 0;
}

@media print {
  html,
  body {
    @apply bg-transparent;
  }

  h1 {
    @apply text-black;
  }

  a:not(.tag) {
    @apply text-black !important;
  }

  .btn {
    @apply hidden;
  }
}
