@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  @apply bg-gray-200;
}

.page {
  width: 8.5in;
  height: 11in;
}

@page {
  margin: 0;
}

@media print {
  html,
  body {
    @apply bg-transparent;
  }
}
